*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: radial-gradient(circle at 30% 20%, #1b1d36, #111328 70%);
    color: white;
}

/* NAVBAR */
nav{
    height: 78px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    background: rgba(17,19,40,0.9);
    color: white;
}

/* Left */
.left p{
    font-size: 28px;
    font-weight: bold;
}

/* Center */
.center{
    display: flex;
    justify-content: center;
}

.nav_opt{
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav_opt li{
    font-size: 17px;
    cursor: pointer;
    text-transform: capitalize;
    transition: 0.2s ease;
}

.nav_opt li:hover{
    color: #ff2e9d;
}

/* Right */
.right button{
    padding: 10px 18px;
    background: linear-gradient(135deg, #a445ff, #ff2e9d);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.right button:hover{
    filter: brightness(1.1);
}

/* MAIN CONTENT */
main{
    height: 552px;
    width: 100%;
    display: flex;
}

.left_part {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#name_card{
    font-size: 18px;
    font-weight: bold;
    padding: 20px 40px;
    background: linear-gradient(135deg, #612eff, #ff2e9d);
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 25px rgba(255, 46, 157, 0.4);
}

.cv_btn{
    padding: 10px 18px;
    background: linear-gradient(135deg, #a445ff, #ff2e9d);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.cv_btn:hover{
    filter: brightness(1.1);
    box-shadow: 0px 0px 25px rgba(255, 46, 157, 0.4);
}

.right_part{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_img{
    padding: 6px;
    border-radius: 30% 70% 48% 52% / 53% 40% 60% 47%;
    background: linear-gradient(135deg, #a445ff, #ff2e9d);
    box-shadow: 0px 0px 35px rgba(164, 69, 255, 0.4);
}

.profile_img img{
    width: 260px;
    height: 260px;
    /* object-fit: cover; */
    border-radius: 30% 70% 48% 52% / 53% 40% 60% 47%;
    /* display: block; */
}

/* FOOTER */
footer{
    height: 78px;
    background: rgba(17,19,40,0.9);
    display: grid;
    place-items: center;
}

.socials ul{
    list-style: none;
    display: flex;
    gap: 40px;
}

.socials li{
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease;
}

.socials li:hover{
    color: #ff2e9d;
}